@model GigHub.Core.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 id="follow-artist-toggle">
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        <button id="follow-artist"
                data-user-id="@Model.Gig.ArtistId"
                class="btn @(Model.IsFollowing? "btn-info":"btn-default") btn-sm js-toggle-follow">
            @(Model.IsFollowing ? "Following" : "Follow")
        </button>
    }
</h2>
<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")


</p>
@if (User.Identity.IsAuthenticated && Model.IsGoing)
{
    <p> You are going to this event.</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            FollowController.init();
        });
    </script>
}
